# Follow this example to set up your environment varables. Replace placeholders with actual values you'd be using.
DATABSE_URL="mysql+mysqlconnector://user:password@host:port/database_name"
LOG_DIR="log_directory_name"