# This is an example .env file for the Cadence Study Planner project.
# Rename this file to .env.local and update the values accordingly. Do not commit your .env.local file to version control, as it may contain sensitive information.

MONGODB_URI= "mongodb+srv://<username>:<password>@cluster0.tgpoq.mongodb.net/?appName=Cluster0" # Update <username> and <password> with your MongoDB credentials. Ensure that the URI is properly formatted and that your MongoDB cluster is accessible.
OPENAI_API_KEY=<your_openai_api_key> # Replace <your_openai_api_key> with your actual OpenAI API key. Keep this key secure and do not share it publicly.
NEXT_PUBLIC_BASE_URL="http://localhost:<port>" # Update <port> to the port number your Next.js app is running on (default is 3000).
ACADEMIC_YEAR="YYYY/YYYY" # Format: YYYY/YYYY (e.g., 2025/2026). Update this according to the current academic calendar.
SEMESTER=<number> # Replace <number> with the current semester number (1 for first semester, 2 for second semester, etc.). Keep in mind that the academic year and semester should be updated according to the current academic calendar.